<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.mathisfuntwo.recievebroadcastintent" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <receiver
            android:name=".RecieveBroadcast"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="me.mathisfuntwo.sendingbroadcastintents"></action>
            </intent-filter>
        </receiver>
    </application>

</manifest>
